# Default ignored files
/assetWizardSettings.xml
/.idea/caches
/deploymentTargetDropDown.xml
/gradle.xml
/inspectionProfiles/Project_Default.xml
/libraries
/migrations.xml
/modules.xml
/navEditor.xml
/shelf/
/workspace.xml
